body {
    padding: 10%;
}

h3 {
    font-size: 30px;
}
article {
    padding-right: 20%;
    line-height: 1.5em;
}
img {
    float: left;
    margin-right: 15px;
}
p {
    font-weight: 150;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
.ww {
    font-weight: 400;
    font-size: 24px;
    font-style: italic;
    font-family: 'Source Sans Pro', sans-serif;
}
.ww span {
    font-size: 50px;
    margin-right: 15px;
}

button {
    border: 1px solid orange;
    background-color: white;
    color:orange;
    font-size: 20px;
    padding: 10px 40px;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}